In [1]:
import pandas as pd
import numpy as np
from pprint import pprint
import seaborn as sns
import sklearn
import matplotlib.pylab as plt

# To suppress FutureWarnings
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=DeprecationWarning)

%matplotlib inline

In [2]:
TI = pd.read_csv("TI.csv",encoding='utf-8')

In [3]:
notable_player = pd.read_csv("notable_players.csv",encoding='utf-8')

In [4]:
TI_dire = TI[["dire_team_id","radiant_win"]]

In [5]:
TI_dire.rename(columns = {"dire_team_id":"team_id"},inplace = True)

D:\Anaconda\lib\site-packages\pandas\core\frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [6]:
TI_radiant = TI[["radiant_team_id","radiant_win"]]

In [7]:
TI_radiant.rename(columns = {"radiant_team_id":"team_id"},inplace = True)

D:\Anaconda\lib\site-packages\pandas\core\frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [8]:
team_id_name = notable_player[["team_id","team_name","team_tag"]]

In [9]:
team_id_name.drop_duplicates(inplace = True)

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [10]:
TI_dire_name = pd.merge(TI_dire,team_id_name,how = 'left')

In [11]:
TI_radiant_name = pd.merge(TI_radiant,team_id_name,how = "left")

In [12]:
for i in range(len(TI_dire_name)):
    if TI_dire_name.loc[i,"radiant_win"] ==True:
        TI_dire_name.loc[i,"radiant_win"] = False
    else:
        TI_dire_name.loc[i,"radiant_win"] = True

In [13]:
TI_radiant_name.rename(columns = {"radiant_win":"win"},inplace = True)

In [14]:
TI_dire_name.rename(columns = {"radiant_win":"win"},inplace = True)

In [15]:
TI_radiant_dire = TI_radiant_name.append(TI_dire_name)

In [16]:
TI_radiant_data = TI_radiant_name.groupby(["team_tag","win"])

In [17]:
TI_dire_data = TI_dire_name.groupby(["team_tag","win"])

In [18]:
TI_radiant_dire_data = TI_radiant_dire.groupby(["team_tag","win"])

In [19]:
TI_dire_df = pd.DataFrame(TI_dire_data.size())

In [20]:
TI_radiant_df =  pd.DataFrame(TI_radiant_data.size())

In [21]:
TI_radiant_dire_df = pd.DataFrame(TI_radiant_dire_data.size())

In [22]:
TI_dire_df.rename(columns = {0:"num"},inplace = True)

In [23]:
TI_dire_df.reset_index(inplace=True)

In [24]:
TI_radiant_df.rename(columns = {0:"num"},inplace = True)

In [25]:
TI_radiant_df.reset_index(inplace=True)

In [26]:
TI_radiant_dire_df.rename(columns = {0:"num"},inplace = True)

In [27]:
TI_radiant_dire_df.reset_index(inplace=True)

In [34]:
TI_radiant_dire_df.to_csv("./team_win.csv",encoding='utf-8-sig')

In [35]:
TI_radiant_df.to_csv("./radiant_win.csv",encoding='utf-8-sig')

In [36]:
TI_dire_df.to_csv("./dire_win.csv",encoding='utf-8-sig')

In [37]:
TI_radiant_dire_df.to_excel("./team_win.xls",encoding='utf-8-sig')

In [38]:
TI_radiant_df.to_excel("./radiant_win.xls",encoding='utf-8-sig')

In [39]:
TI_dire_df.to_excel("./dire_win.xls",encoding='utf-8-sig')

In [66]:
temp = pd.DataFrame(TI_radiant_dire_df['team_tag']).drop_duplicates(subset=['team_tag'])

In [67]:
temp.reset_index(inplace=True,drop = True)

In [71]:
temp.head()

   team_tag
0        AR
1     Afk20
2  Alliance
3      BOOM
4      CDEC

In [72]:
TI_radiant_dire_df.head()

   team_tag    win  num
0        AR  False    5
1        AR   True    2
2     Afk20  False    1
3  Alliance  False    4
4  Alliance   True    3

In [ ]:
team_win = []
j = 1
k = 1
for i in range(len(temp)):
    if temp.ix[i,'team_tag'] == TI_radiant_dire_df.ix[j,'team_tag']:
        if TI_radiant_dire_df[j,'win']== False:
            team_win.ix[k,'team_tag'] = temp.ix[i,'team_tag']